@import "./inputRangeReset.scss";

.slider {
  $sliderThumbHeight: 40px;
  $sliderTrackHeight: 16px;
  &::range-thumb {
    border: 1px solid #000000;
    height: $sliderThumbHeight;
    width: $sliderThumbHeight;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    margin-top: -$sliderThumbHeight/2 + $sliderTrackHeight/2; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }

  &:focus::range-track {
    background: #26b0ff;
  }

  &::range-track {
    width: 100%;
    height: $sliderTrackHeight;
    cursor: pointer;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #2af;
    border-radius: 1em;
    border: 0.2px solid #010101;
  }

  // Firefox's outline bug. For more info see http://stackoverflow.com/questions/18794026/remove-dotted-outline-from-range-input-element-in-firefox#answer-21568066
  &::-moz-focus-outer {
    border: 0;
  }
}
