@import url(https://fonts.googleapis.com/css?family=Eczar|Open+Sans);

body {
  background: #4bf;
}

.header {
  font-family: 'Open Sans', 'Eczar';
  text-align: center;
}

.container {
  text-align: center;
  padding: 2em 0;
}
